<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526360435093-6vgba907tem9jt2fa0jldtqgues2o7n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526360435093-6vgba907tem9jt2fa0jldtqgues2o7n8</string>
	<key>API_KEY</key>
	<string>AIzaSyAO9qncT3Zl9bI3Zc9y-p9OYjQfzPmwVFs</string>
	<key>GCM_SENDER_ID</key>
	<string>526360435093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hisabo.hisabo</string>
	<key>PROJECT_ID</key>
	<string>hisabo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hisabo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526360435093:ios:43c80215f5d0ec4dd87e9c</string>
</dict>
</plist>